* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main .box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.70);
}

nav {
    height: 12vh;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* position: fixed; */
}

nav span img {
    width: 300px;
    position: relative;
    z-index: 10;

}

button {
    position: relative;
    z-index: 10;
    cursor: pointer;
}

button.English {
    height: 35px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

button.sign {
    background-color: rgb(239, 12, 12);
    color: white;
    height: 35px;
    padding: 0px 15px;
    border-radius: 5px;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
}

/* .box .first {
    font-family: unset;
    font-size: 3.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
} */

.box> :first-child {
    font-size: 3.2rem;
    font-weight: 900;
}

/* .box .second {
    font-family: unset;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.5rem;
} */

.box> :nth-child(2) {
    font-weight: bold;
    font-size: 1.5rem;
}

.Email {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    height: 50px;
    width: 380px;
    max-width: 80vw;
    background: rgba(22, 22, 22, 1);
    border: 1px solid rgb(122, 107, 107);
    border-radius: 5px;
    font-size: 1em;
    padding-left: 15px;
    color: white;

}

.getStarted {
    height: 50px;
    font-size: 1.3rem;
    padding: 0px 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    min-width: 160px;
}

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(46, 46, 46);
}

@media screen and (max-width: 600px) {
    nav span img {
        max-width: 130px;
    }

    .box> :first-child {
        font-size: 2rem;
    }

    .box> :nth-child(2) {
        font-size: 1rem;
    }

    .Email {
        flex-direction: column;
    }

    input {
        width: 90vw;
    }

    .getStarted {
        width: 60vw;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    nav span img {
        width: 300px;
    }

    button {
        font-size: 1.1rem;
    }

    .box> :first-child {
        font-size: 4rem;
    }
}

.firstcontainer {
    margin-top: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    float: left;
    height: 350px;
    width: 250px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/055/040/907/small/lush-green-tree-on-top-of-cliff-in-mountains-with-sun-rays-vertical-nature-background-generated-by-artificial-intelligence-photo.jpg");
    margin: 10px;
    border-radius: 10px;
    object-fit: fill;
    background-repeat: no-repeat;
}



.movies {
    display: flex;
    margin: 15px;
}

.scontainer {
    margin: 30px;
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

.gradient {
    background-image: -webkit-repeating-linear-gradient(rgb(148, 97, 158), rgb(61, 106, 210));

    border-radius: 10px;
}

.stext {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
}

.ttext {
    margin: 20px;
}

.FAQ {
    color: white;
    width: 58%;
    margin: auto;
}

.questions {
    margin-top: 20px;
    width: 1100px;
    height: 70px;
    color: white;
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 1.5rem;
    font-weight: 400;

}

.box2 {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2> :first-child {
    color: white;
}

.box2 .Email2 {
    margin-top: 30px;
    gap: 10px;
}

.fcontent{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}
a{
    color: rgb(182, 182, 182);
    margin: 10px;
}

.scontainer{
    color: rgb(182, 182, 182);
}