* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    background-image: url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.main .box {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.70);
}

nav {
    height: 12vh;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* position: fixed; */
}

nav span img {
    width: 300px;
    position: relative;
    z-index: 10;

}

button {
    position: relative;
    z-index: 10;
    cursor: pointer;
}

button.English {
    height: 35px;
    padding: 0px 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-right: 10px;
}

button.sign {
    background-color: rgb(239, 12, 12);
    color: white;
    height: 35px;
    padding: 0px 15px;
    border-radius: 5px;
}

.box {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    position: relative;
    gap: 20px;
    padding: 0 20px;
    text-align: center;
}

/* .box .first {
    font-family: unset;
    font-size: 3.5rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
} */

.box> :first-child {
    font-size: 3.2rem;
    font-weight: 900;
}

/* .box .second {
    font-family: unset;
    font-size: 1.25rem;
    font-weight: 500;
    margin: 1.5rem;
} */

.box> :nth-child(2) {
    font-weight: bold;
    font-size: 1.5rem;
}

.Email {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

input {
    height: 50px;
    width: 380px;
    max-width: 80vw;
    background: rgba(22, 22, 22, 1);
    border: 1px solid rgb(122, 107, 107);
    border-radius: 5px;
    font-size: 1em;
    padding-left: 15px;
    color: white;

}

.getStarted {
    height: 50px;
    font-size: 1.3rem;
    padding: 0px 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: red;
    color: white;
    border: none;
    min-width: 160px;
}

<<<<<<< HEAD
/* .separation {
    height: 8px;
    width: 100%;
    background-color: rgb(46, 46, 46);
} */

.separation {
    height: 100px;
    width: 100%;
    background: rgb(207, 53, 53);
    clip-path: ellipse(70% 100% at 50% 0%);
=======
.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(46, 46, 46);
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
}

@media screen and (max-width: 600px) {
    nav span img {
        max-width: 130px;
    }

    .box> :first-child {
        font-size: 2rem;
    }

    .box> :nth-child(2) {
        font-size: 1rem;
    }

    .Email {
        flex-direction: column;
    }

    input {
        width: 90vw;
    }

    .getStarted {
        width: 60vw;
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 1200px) {
    nav span img {
        width: 300px;
    }

    button {
        font-size: 1.1rem;
    }

    .box> :first-child {
        font-size: 4rem;
    }
}

.firstcontainer {
<<<<<<< HEAD
    width: 100%;
    padding: 40px 0;
    color: white;
    display: flex;
    justify-content: center;
}

/* .cards {
     .cards {
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
    background-size: cover;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/055/040/907/small/lush-green-tree-on-top-of-cliff-in-mountains-with-sun-rays-vertical-nature-background-generated-by-artificial-intelligence-photo.jpg");
    margin: 10px;
 } 

    /* float: left;
=======
    margin-top: 50px;
    color: rgb(255,255,255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    float: left;
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
    height: 350px;
    width: 250px;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/055/040/907/small/lush-green-tree-on-top-of-cliff-in-mountains-with-sun-rays-vertical-nature-background-generated-by-artificial-intelligence-photo.jpg");
    margin: 10px;
    border-radius: 10px;
    object-fit: fill;
<<<<<<< HEAD
    background-repeat: no-repeat; 
} */

.cards {
    height: 350px;
    width: 250px;
    background-size: cover;
    /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/055/040/907/small/lush-green-tree-on-top-of-cliff-in-mountains-with-sun-rays-vertical-nature-background-generated-by-artificial-intelligence-photo.jpg"); */
    background-position: center;
    margin: 10px;
    border-radius: 10px;
}

.cards img{
    height: 350px;
    width: 250px;
    border-radius: 10px;
}


.movies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 30px;
=======
    background-repeat: no-repeat;
}



.movies {
    display: flex;
    margin: 15px;
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
}

.scontainer {
    margin: 30px;
<<<<<<< HEAD
    color: white;
=======
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
}

h2 {
    font-size: 2rem;
    font-weight: 800;
}

.gradient {
<<<<<<< HEAD
    padding: 20px;
    background: linear-gradient(135deg, #192247 0%, #210e17 100%);
}

.stext {
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 10px;
}

.ttext {
    opacity: 0.8;
    font-size: 1rem;
}

/* .FAQ {
    color: white;
    width: 58%;
    margin: auto;
} */
.FAQ {
    color: white;
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

/* .questions {
    margin-top: 20px;
    width: 100%;
    max-width: 1100px;
=======
    background-image: -webkit-repeating-linear-gradient(rgb(148, 97, 158), rgb(61, 106, 210));

    border-radius: 10px;
}

.stext {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 20px;
}

.ttext {
    margin: 20px;
}

.FAQ {
    color: white;
    width: 58%;
    margin: auto;
}

.questions {
    margin-top: 20px;
    width: 1100px;
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
    height: 70px;
    color: white;
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: center;
    padding-left: 25px;
    font-size: 1.5rem;
    font-weight: 400;

<<<<<<< HEAD
} */
.questions {
    margin-top: 20px;
    width: 100%;
    max-width: 1100px;
    height: auto;
    min-height: 70px;
    color: white;
    background-color: rgb(48, 47, 47);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    border-radius: 5px;
    cursor: pointer;
}
.questions:hover{
    background-color: rgb(100, 85, 85);
}

=======
}
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d

.box2 {
    margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box2> :first-child {
    color: white;
}

.box2 .Email2 {
    margin-top: 30px;
    gap: 10px;
}

<<<<<<< HEAD
/* .fcontent{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 200px;
    margin: 20px;
    /* height: 350px;
    width: 250px;
    margin: 10px; 
    border-radius: 10px;
} */

.fcontent {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 20px;
}

=======
.fcontent{
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 250px;
    margin: 10px;
    border-radius: 10px;
}
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
a{
    color: rgb(182, 182, 182);
    margin: 10px;
}

<<<<<<< HEAD


.questions svg{
    color: white;
    height: 40px;
    width: 40px;
}

@media (max-width: 1024px) {
    .movies {
        grid-template-columns: repeat(3, 1fr);
    }

    .cards {
        height: 180px;
    }
}

@media (max-width: 600px) {
    .movies {
        grid-template-columns: repeat(1, 1fr); /* Stack cards */
    }

    .scontainer h2, 
    .tcontainer h2 {
        font-size: 1.6rem;
    }

    .cards {
        height: 160px;
    }

    .cln-box h2{
        font-size: 1.6rem;
    }

    .gradient {
        padding: 15px;
    }

    .stext {
        font-size: 1.1rem;
    }

    .ttext {
        font-size: 0.9rem;
    }
=======
.scontainer{
    color: rgb(182, 182, 182);
>>>>>>> 15703849d6b74b361726f285a42c9d34d5c2680d
}
